@media (min-width: 375px){
  h1{
    font-size: 1.5rem;
    color: rebeccapurple;

  }
  .red{
    border-radius: 20%;
    float: right;
  }
  .aboutme{
    font-family:'Times New Roman', Times, serif;
    color: red;
  }


@media (min-width: 768px){
  .red{
    border-radius: 30px;
    border-color: black;
    border-width: 20px;
    color: black;
    float: right;
    
  }
}
.soci
}